
#p1{
    font-size: 16px;
    font-weight: 700;
    color: rgb(45, 133, 141);
}
#p2{
    font-weight: 300;
    font-size: 14px;
}

.crd{
    box-shadow: 0px 2px 10px -4px ;
}

.cmd.dark{
    background-color: rgba(8, 34, 69, 0.941);
    border-radius: 15px;
    color:white;
}

.cmd{
    width:250px ;
    height:210px; 
    text-align: center;
    
}
.card{
    width: 280px;
    background-color: black;
}
.card.drk{
    background-color: rgba(14, 29, 48, 0.393);
}